* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Reddit Sans", sans-serif;
    background-color: #CAF0F8;
}

header {
    background-color: #f4acb7;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Homemade Apple", cursive;
}

h2 {
    font-family: "Homemade Apple", cursive;
    text-align: center;
}

.primeira img {
    width: 30rem;
    margin-right: 20rem;
    height: auto;
    margin: 2rem;
    border-radius: 10%;
    object-fit: cover;

    box-shadow: 4px 4px 10px rgba(0, 0 ,0 , 0.5);
}

.primeira {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.segunda img {
    width: 30rem;
    margin-right: 20rem;
    height: 15rem;
    margin: 0 2rem;
    border-radius: 10%;
    object-fit: cover;

    box-shadow: 4px 4px 10px rgba(0, 0 ,0 , 0.5);
    
}

.segunda {
    text-align: center;
    margin-bottom: 2rem;
    background-color: #ebbec6;
    height: 30rem;
    display: flex;
    align-items: center;

    position: relative;
    text-align: center;
}

.segunda p {
    background-color: #f1cdd4;
    margin-top: 40px;
    border-radius: 3%;
}

.terceira img {
    width: 30rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 10%;
    object-fit: cover;

    box-shadow: 4px 4px 10px rgba(0, 0 ,0 , 0.5);
}

.terceira {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quarta {
    background-color: #f4acb7;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h2t {
    position: absolute;
    top: 0%;
    left: 42%;
    right: 42%;
}
